In [8]:
import pandas as pd
s = pd.Series([10, 20, 30, 40], index=["a", "b", "c", "d"])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [9]:
data = {
"Возраст": [25, 30, 22],
"Город": ["Москва", "СПб", "Казань"]
}
df = pd.DataFrame(data, index=["Анна", "Иван", "Ольга"])
print(df)

       Возраст   Город
Анна        25  Москва
Иван        30     СПб
Ольга       22  Казань

In [10]:
print(df["Возраст"])

Анна     25
Иван     30
Ольга    22
Name: Возраст, dtype: int64

In [11]:
s = pd.Series([10, 20, 30], index=["a", "b", "c"])
df = s.to_frame(name="Значение")
print(df)

   Значение
a        10
b        20
c        30

In [12]:
s = df["Значение"]
print(s)

a    10
b    20
c    30
Name: Значение, dtype: int64

In [13]:
import pandas as pd
data = {
"Имя": ["Анна", "Иван", "Ольга"],
"Возраст": [25, 30, 22],
"Город": ["Москва", "СПб", "Казань"]
}
df = pd.DataFrame(data)
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [14]:
ages = pd.Series([25, 30, 22], index=["a", "b", "c"])
cities = pd.Series(["Москва", "СПб", "Казань"], index=["a", "b", "c"])
df = pd.DataFrame({"Возраст": ages, "Город": cities})
print(df)

   Возраст   Город
a       25  Москва
b       30     СПб
c       22  Казань

In [15]:
data = [
["Анна", 25, "Москва"],
["Иван", 30, "СПб"],
["Ольга", 22, "Казань"]
]
df = pd.DataFrame(data, columns=["Имя", "Возраст", "Город"])
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [16]:
data = [
{"Имя": "Анна", "Возраст": 25, "Город": "Москва"},
{"Имя": "Иван", "Возраст": 30}, # "Город" пропущен
{"Имя": "Ольга", "Возраст": 22, "Город": "Казань"}
]
df = pd.DataFrame(data)
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     NaN
2  Ольга       22  Казань

In [17]:
import numpy as np
data = np.array([
["Анна", 25, "Москва"],
["Иван", 30, "СПб"],
["Ольга", 22, "Казань"]
])
df = pd.DataFrame(data, columns=["Имя", "Возраст", "Город"])
print(df)

     Имя Возраст   Город
0   Анна      25  Москва
1   Иван      30     СПб
2  Ольга      22  Казань

In [18]:
numeric_data = np.array([
[25, 65.5],
[30, 78.2],
[22, 54.3]
])
df = pd.DataFrame(numeric_data, columns=["Возраст", "Вес"])
print(df)

   Возраст   Вес
0     25.0  65.5
1     30.0  78.2
2     22.0  54.3

In [19]:
df = pd.DataFrame(columns=["Имя", "Возраст", "Город"])
print(df)

Empty DataFrame
Columns: [Имя, Возраст, Город]
Index: []

In [20]:
df.loc[0] = ["Анна", 25, "Москва"]
df.loc[1] = ["Иван", 30, "СПб"]
print(df)

    Имя  Возраст   Город
0  Анна       25  Москва
1  Иван       30     СПб

In [21]:
import pandas as pd

In [22]:
df = pd.read_csv("data.csv")
print(df.head()) # Выведем первые 5 строк

   1
0  2
1  3
2  4
3  5
4  6

In [25]:
df = pd.read_csv("data.csv", sep=";", index_col=0, na_values=["?","N/A"])

In [26]:
df.to_csv("output.csv", index=False)

In [26]:
df = pd.read_excel("data.xlsx", sheet_name="Лист1")
print(df.head())

NameError: name 'pd' is not defined

In [65]:
df.to_excel("output.xlsx", sheet_name="Результаты", index=False)

In [24]:
import sqlite3
conn = sqlite3.connect("database.db") # Подключение к базе данных
query = "SELECT * FROM users"
df = pd.read_sql(query, conn)
print(df.head())

NameError: name 'pd' is not defined

In [22]:
import sqlalchemy
engine =
sqlalchemy.create_engine("mysql+mysqlconnector://user:password@localhos
query = "SELECT id, name, age FROM users WHERE age > 18"
df = pd.read_sql(query, engine)

SyntaxError: unterminated string literal (detected at line 3) (1744922307.py, line 3)

In [20]:
df.to_sql("users", conn, if_exists="replace", index=False

SyntaxError: incomplete input (3951672663.py, line 1)

In [18]:
df = pd.read_json("data.json")
print(df.head())

NameError: name 'pd' is not defined

In [14]:
df = pd.read_parquet("data.parquet")
print(df.head())

NameError: name 'pd' is not defined

In [33]:
df.to_parquet("output.parquet", engine="pyarrow", index=False)

In [34]:
import pandas as pd
# Создадим небольшой DataFrame
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр", "Мария", "Сергей"],
"Возраст": [25, 30, 22, 40, 35, 28],
"Город": ["Москва", "СПб", "Казань", "Новосибирск",
"Екатеринбург", "Сочи"]
}
df = pd.DataFrame(data)
# Выведем первые 3 строки
print(df.head(3))

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [35]:
print(df.tail(2)) # Последние 2 строки

      Имя  Возраст         Город
4   Мария       35  Екатеринбург
5  Сергей       28          Сочи

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Имя      6 non-null      object
 1   Возраст  6 non-null      int64
 2   Город    6 non-null      object
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes

In [37]:
print(df.describe())

        Возраст
count   6.00000
mean   30.00000
std     6.60303
min    22.00000
25%    25.75000
50%    29.00000
75%    33.75000
max    40.00000

In [38]:
print(df.describe(include="object")) # Анализ строковых данных

         Имя   Город
count      6       6
unique     6       6
top     Анна  Москва
freq       1       1

In [39]:
import pandas as pd
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр"],
"Возраст": [25, 30, 22, 40],
"Город": ["Москва", "СПб", "Казань", "Новосибирск"]
}
df = pd.DataFrame(data, index=["a", "b", "c", "d"])
print(df)

     Имя  Возраст        Город
a   Анна       25       Москва
b   Иван       30          СПб
c  Ольга       22       Казань
d   Петр       40  Новосибирск

In [40]:
print(df.loc["b"])

Имя        Иван
Возраст      30
Город       СПб
Name: b, dtype: object

In [41]:
print(df.loc["c", "Город"]) # Получим город Ольги

Казань

In [42]:
print(df.loc[["a", "c"]]) # Выбор строк "a" и "c"

     Имя  Возраст   Город
a   Анна       25  Москва
c  Ольга       22  Казань

In [44]:
print(df.loc[:, ["Имя", "Город"]]) # Выбор всех строк, но только двух столбцов

     Имя        Город
a   Анна       Москва
b   Иван          СПб
c  Ольга       Казань
d   Петр  Новосибирск

In [45]:
print(df.loc[df["Возраст"] > 25])

    Имя  Возраст        Город
b  Иван       30          СПб
d  Петр       40  Новосибирск

In [46]:
print(df.iloc[1])

Имя        Иван
Возраст      30
Город       СПб
Name: b, dtype: object

In [47]:
print(df.iloc[2, 2])

Казань

In [48]:
print(df.iloc[[0, 2]])

     Имя  Возраст   Город
a   Анна       25  Москва
c  Ольга       22  Казань

In [49]:
print(df.iloc[1:3])

     Имя  Возраст   Город
b   Иван       30     СПб
c  Ольга       22  Казань

In [50]:
print(df.iloc[:, [0, 2]])

     Имя        Город
a   Анна       Москва
b   Иван          СПб
c  Ольга       Казань
d   Петр  Новосибирск

In [51]:
print(df.at["c", "Город"])

Казань

In [52]:
print(df.iat[2, 2])

Казань

In [53]:
import pandas as pd
data = {
"Имя": ["Анна", "Иван", "Ольга"],
"Возраст": [25, 30, 22]
}
df = pd.DataFrame(data)
df["Город"] = ["Москва", "СПб", "Казань"] # Добавляем новый столбец
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [54]:
df["Страна"] = "Россия"
print(df)

     Имя  Возраст   Город  Страна
0   Анна       25  Москва  Россия
1   Иван       30     СПб  Россия
2  Ольга       22  Казань  Россия

In [55]:
df["Возраст_в_месяцах"] = df["Возраст"] * 12
print(df)

     Имя  Возраст   Город  Страна  Возраст_в_месяцах
0   Анна       25  Москва  Россия                300
1   Иван       30     СПб  Россия                360
2  Ольга       22  Казань  Россия                264

In [56]:
df = df.assign(Зарплата=[50000, 60000, 45000])
print(df)

     Имя  Возраст   Город  Страна  Возраст_в_месяцах  Зарплата
0   Анна       25  Москва  Россия                300     50000
1   Иван       30     СПб  Россия                360     60000
2  Ольга       22  Казань  Россия                264     45000

In [59]:
df["Категория возраста"] = df["Возраст"].apply(lambda x: "Молодой" if 
x < 30 else "Взрослый")
print(df)

     Имя  Возраст   Город  Страна  Возраст_в_месяцах  Зарплата  \
0   Анна       25  Москва  Россия                300     50000
1   Иван       30     СПб  Россия                360     60000
2  Ольга       22  Казань  Россия                264     45000

  Категория возраста
0            Молодой
1           Взрослый
2            Молодой

In [12]:
df.loc[3] = ["Петр", 40, "Новосибирск", "Россия"]
print(df)

NameError: name 'df' is not defined

In [10]:
new_row = {"Имя": "Сергей", "Возраст": 35, "Город": "Сочи", "Страна":"Россия"}
df = df.append(new_row, ignore_index=True)
print(df)

NameError: name 'df' is not defined